### Exercise 1

In [13]:
list1 = ["hello", 1, True]
print(list1)

['hello', 1, True]

In [15]:
a = input()

 Machine Learning

In [17]:
list1.append(a)
print(list1)

['hello', 1, True, 'Machine Learning', 'Machine Learning']

### Exercise 2

In [53]:
list2 = [1,2,3,4,5,6]
print(list2)

[1, 2, 3, 4, 5, 6]

In [54]:
list2.pop(5)
print(list2)

[1, 2, 3, 4, 5]

In [55]:
list2.pop(4)
print(list2)

[1, 2, 3, 4]

In [56]:
list2.pop(0)
print(list2)

[2, 3, 4]

### Exercise 3

In [1]:
set2 = {1,2,3,4,5,6,7,8,9 }

In [2]:
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
min(set2)

1

In [4]:
user = int(input())

 2

In [5]:
if user > min(set2) and user<max(set2):
     print(True)
else:
     print(False)

True

In [166]:
type(set2)

set

In [164]:
type(user)

int

In [6]:
min(set2)<user<max(set2)

True

### Exercise 4

In [155]:
dict1 = {'name':'Elon', 'surname':'Musk', 'company1':'SpaceX', 'company2':'Tesla'}
print(dict1)

{'name': 'Elon', 'surname': 'Musk', 'company1': 'SpaceX', 'company2': 'Tesla'}

In [156]:
dict_key = input()

 company3

In [157]:
dict_value = input()

 paypal

#### dict1.update({dict_key:dict_value})
print(dict1)

### Exercise 5

In [5]:
#above I already have "a" variable 
c=5
b=7

In [8]:
if c == b:
    print("square")
else:
    print("rectangle")

rectangle

### Exercise 6

Create the variables name, age, password with values of your choice։ Write the
following program:
If the value of the variable name is “Batman”, print “Welcome Mr. Batman!” no matter
what the values of the other variables are. If the value of the variable age <16, print
“Dear X, you are too young to register”, using the value of the variable name instead of
X; if the value of the variable password doesn’t contain either ‘*’ or “&”, print “Please
enter a different password”.

In [4]:
name = "Alisa"
age = 15
password = "makeitharder1123"

In [5]:
if name == "Batman":
    print("Welcome Mr. Batman!")
else:
    print("wrong")

wrong

In [21]:
if int(age) < 16:
    print("Dear,"+ name + " you are too young to register")
else:
    print(wrong)

Dear,Alisa you are too young to register

In [51]:
if '*' or "&" not in password :
    print("Please enter a different password")
else:
    print("You choose strong password")

Please enter a different password

### Exercise 7

Print only the odd number 0-100, using a for or a while loop and an if/else statement.

In [8]:
for i in range(100):
    if i%2==1:
      print (i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Exercise 8

Go over the numbers 1-20 in a loop, stop the loop (break) once you reach a number that
is a multiple of both 3 and 5.

In [18]:
for i in range(1,20):
    print(i)
    if i%15==0:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

### Exercise 9

Create the list list1 with the values of type int of your choice. Create the list list2, which
should contain all the values from list list1 which are larger than 20։ Print both of the
lists. Use list comprehension.

In [36]:
list3 = [1,34,56,78,22,2,3,12,23,9,8]
list4 = [ x for x in list3 if x>20]
print(list4)

[34, 56, 78, 22, 23]